<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}} - Science Articles by Youth</title>
        <link rel="icon" href="/img/favicon.png">
        <link rel="canonical" href="/home">
        <link rel="stylesheet" href="/css/elements.css">
        <link rel="stylesheet" href="/css/comments.css">
        <link rel="stylesheet" href="/css/publicarticle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {{>header}}
        <div class="text-block">
            <h3>{{title}}</h3><span id="identifier" style="display: none;">{{identifier}}</span>
            <h4>Created by <span id="author">{{author}}</span></h4><hr>
            <img id="thumbnail-image" src={{imageLink}} alt="Article thumbnail image">
            <p id="article-contents">{{contents}}</p>
            <div id="restricted">
                <p id="article-notice">This isn't your article. The buttons below will not work for you.</p>
                <div id="button-row">
                    <button id="edit-article">Edit</button>
                    <button id="delete-article">Delete</button>
                </div>
                <div id="follow-screen">
                    <div id="delete-warning">
                        <p>Are you sure? Deleting your article is nonrecoverable. :(</p>
                        <button id="delete-deny">Cancel</button>
                        <button id="delete-confirm">Delete</button>
                    </div>
                    <div id="comment-delete-warning">
                        <p>Are you sure? Deleting that comment ("<span id="comment-delete-info"></span>") is nonrecoverable. :(</p>
                        <button id="comment-delete-deny">Cancel</button>
                        <button id="comment-delete-confirm">Delete</button>
                    </div>
                </div>
            </div>
            <div id="comments-section">
                <h2 id="comments-header">Comments</h2>
                <div id="insert-template"></div>
                <div id="other-comments"></div>
                <div id="comments-message"></div>
                <button class="find-more">More</button>
            </div>
        </div>
        {{>footer}}
        <script src="/js/publicarticle.js"></script>
        <script src="/js/comments.js"></script>
        <script>
            $(document).ready(() => {
                fetchComments()
                $(".find-more").click(() => {
                    fetchComments()
                })
            })
        </script>
    </body>
</html>